/* .otherInfo{
    background-color: black;
    color: white;
    width: 100%;
}
.movieItems{
    background-color: black;
    color: white;
    width: 100%;
} */

.moviesList{
    background-color: black;
    color: white;
    width: 100%;
}